@import url("https://use.typekit.net/dui0wne.css");

/* ------------------- */
/* CSS Variables       */
/* ------------------- */

:root {
  --clr-white: #f9ebe8;
  --clr-black: #231d1d;
  --clr-cyan: #7dffff;

  --text-primary: "magistral", sans-serif;

  --base-grid-size: 4rem;
  --scale-factor: 8vw;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Makes calculating REM units easier */
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  color: inherit;
}

body {
  font-family: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  line-height: 1.5;
  min-height: 100vh;
  color: var(--clr-white);
  background-color: var(--clr-black);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Remove animations for users who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
